<section class="section-padding bg-light-white">
    <div class="container">
        <div class="row">
            <aside class="col-lg-4">
                <div class="sidebar_wrap mb-md-80">
                    <app-car-sidebar></app-car-sidebar>
                </div>
            </aside>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="listing-top-heading mb-xl-20">
                            <h6 class="no-margin text-custom-black">Rooms</h6>
                            <div class="sort-by">
                                <span class="text-custom-black fs-14 fw-600">Sort by</span>
                                <div class="group-form">
                                    <select class="form-control form-control-custom custom-select" nice-select>
                                        <option>A to Z</option>
                                        <option>Z to A</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Data -->
                    <div class="col-md-6"
                        *ngFor="let item of rooms">
                        <div class="hotel-grid mb-xl-30">
                            <div class="hotel-grid-wrapper car-grid bx-wrapper">
                                <div class="image-sec animate-img">
                                    <a routerLink="/car-details/{{item.idR}}">
                                        <img src="..\assets\images\chambre.png" class="full-width" [alt]="">

                                       
                                    </a>
                                    
                                
                                    
                                </div>
                                <div class="hotel-grid-caption padding-20 bg-custom-white p-relative">
                                    <h4 class="title fs-16"><a routerLink="/car-details/{{item.idR}}"
                                            class="text-custom-black">{{item.floor}}
                                            <small class="text-light-dark">{{item.number}}</small>
                                            <small class="text-light-dark">{{item.nbrPlace}}</small>
                                            <small class="text-light-dark">{{item.nbrPlace}}</small>
                                            <small class="text-light-dark">{{item.placesOcc}}</small>
                                        </a></h4>
                                    
                                    <div class="action">
                                        <a routerLink="/car-details/{{item.idR}}" class="btn-second btn-small">View</a>
                                        <a (click)="deleteRoom(item.idR)" class="btn-first btn-submit yellow" >Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Data -->
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav class="pagination_layout section-padding-top">
                            
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>